---
import HomeLayout from "../layouts/HomeLayout.astro";
import {homeSchema} from "../data/schema/home";
import {pageMeta} from "../data/pageMeta"

const meta = pageMeta.home;
---

<HomeLayout
        title={meta.title}
        description={meta.description}
        canonicalPath={meta.path}
        ogType={meta.ogType}
        jsonLd={homeSchema}>

    <div class="test home-card">
        <header id="_idContainer001" class="Basic-Text-Frame">
            <h1 class="Name" style="color:white">Stevan Veljkovic</h1>
            <p class="Details top"><span style="white-space: nowrap">Theory and design,</span></p>
            <p class="Details">Oxford, England.</p>
        </header>

        <div id="_idContainer002" class="Basic-Text-Frame">
            <p class="pronunciation">
                [&NoBreak;<a
                    href="https://ipa-reader.com/?text=stεv(%C9%99)n&voice=Brian">pronunciation</a>:
                &shy;
                <span lang="und-fonipa" style="font-family:Arial, sans-serif; white-space: nowrap;
font-size: calc(clamp(1.215rem, 4.32vmin, 1.5525rem) - 20%);">
            /ˈstεv(ə)n ˈvεlˌkəːvɪk/
          </span>&NoBreak;]
            </p>
        </div>
    </div>
</HomeLayout>